//custom variables
$primary: #184ddfd5 !important;
$dark: #222829d2 !important;

//import main support
@import url("../assets/scss/bootstrap.scss");
.bg-primary {
  background-color: $primary;
}
.bg-dark {
  background-color: $dark;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

//import google fonts
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

// custom font-family variable
:root {
  --bs-font-sans-serif: "Itim", cursive;
}

.carousel-indicators {
  position: relative !important;
}

.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: rgb(161, 145, 145) !important;
}

// custom carousel variabel
$carousel-dark-indicator-active-bg: #ffc107 !important;

.carousel-indicators [data-bs-target] {
  background-color: $carousel-dark-indicator-active-bg;
}
:root {
  --bs-gutter-x: 0px;
}